<% if (user && user.name && user.id)  { %>

    <nav class="navbar">
        <div class="logo-wrapper">
            <img src="/assets/adampol_small_3d96b5c58ab4e98a0f4c.png" alt="adampol logo" class="logo-img">
            <p class="logo-company-name">PPHU Adampol</p>
        </div>
        <div class="menu-details">
            <div class="user-login-wrapper">
                <% if (user && user.name && user.id)  { %>
                    <span class="user-name">zalogowano jako: <%= user.name %></span>
                    <a href="/logout" class="login-link">wyloguj</a>
                <% } else { %>
                    <a href="/login" class="login-link">zaloguj</a>
                <% } %>
            </div>
            <ul class="navbar-menu">
                <% for (const elem of pages) { %>
                    <li class="menu-item <%= elem.id === page.id ? 'selected' : '' %>">
                        <a href="/<%= elem.link %>" class="menu-link"><%= elem.menuTitle %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>

<% } %>