*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif
}

.btn {
    display: inline-block;
    margin: 10px 5px 10px 0;
    font-size: 17px;
    padding: 10px 60px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer
}

.btn.edit {
    color: black;
    background-color: white;
    border: 1px solid #afaeae
}

.btn.remove {
    color: white;
    background-color: #d5322b
}

.button-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-bottom: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px
}

.form {
    margin: 70px 120px;
    border-bottom: 2px solid #d5322b
}

.form .form-label, .form .form-input {
    width: 100%;
    display: inline-block;
    border: 0
}

.form .form-label {
    margin-top: 20px;
    font-size: 12px;
    border-bottom: 1px solid black
}

.form .form-input {
    padding: 10px 2px;
    outline: 0;
    font-size: 16px;
    border-bottom: 1px solid black
}

.form .form-error {
    margin-top: 10px;
    border-bottom: 1px solid #d5322b;
    background-color: #f3dddd;
    padding: 10px 5px;
    outline: 0;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.form .form-input:focus {
    background-color: #e0e0e0
}

.form .select-label {
    margin-top: 20px;
    font-size: 12px;
}

.form .label-warning {
    margin: 10px 0;
    display: block;
    width: 100%;
    color: red;
    font-weight: lighter;
    font-size: 12px;
}

.form .form-select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 2px;
    font-size: 16px;
}

.data-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
    table-layout: auto
}

.data-table td {
    border: 1px solid gray;
    padding: 10px 10px;
    font-size: 12px
}

.data-table .text {
    max-width: 250px
}

.data-table .operations {
    width: 400px
}

.data-table th {
    border: 1px solid gray;
    padding: 10px 10px;
    font-size: 14px;
    text-align: left
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d5322b;
    padding: 20px
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -moz-column-gap: 10px;
    column-gap: 10px;
    align-items: center
}

.logo-img {
    height: 80px;
    width: auto;
    display: block
}

.logo-company-name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-top: 10px;
    text-transform: uppercase;
    color: white
}

.menu-details {
    display: flex;
    flex-direction: column;
    row-gap: 30px
}

.user-login-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    -moz-column-gap: 10px;
    column-gap: 10px
}

.user-login-wrapper .user-name, .user-login-wrapper .login-link {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 18px;
    font-style: normal
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly
}

.navbar-menu .menu-item {
    margin: 0 10px;
    border-bottom: 3px solid #d5322b
}

.navbar-menu .menu-item.selected {
    border-bottom-color: white
}

.navbar-menu .menu-item:hover {
    border-bottom-color: #2c0d0d
}

.navbar-menu .menu-link {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 18px
}

.section {
    background-color: #fff;
    padding: 0 100px 100px 100px;
    border-bottom: 2px solid #d5322b
}

.section .section-title {
    font-size: 60px;
    font-weight: lighter;
    color: #d5322b
}

.section .section-subtitle {
    color: #d5322b;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    padding: 0 0 20px;
    border-bottom: 2px solid #d5322b
}

.section .element-title {
    color: #d5322b;
    font-weight: normal;
    font-size: 22px;
    width: 100%;
    border-bottom: 2px solid #d5322b
}

.element {
    margin: 70px 120px;
    border-bottom: 2px solid #d5322b
}

.element .row {
    margin: 35px 0;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 10px;
    column-gap: 10px;
    align-items: center
}

.element .row.eof {
    border-bottom: 1px solid black
}

.element .label {
    font-size: 10px
}

.element .value-wrapper {
    font-size: 22px;
    font-weight: bold
}

.element .value-image {
    max-height: 150px;
    width: auto
}

.element .element-msg {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    width: 100%;
    text-align: center;
    padding: 40px 0
}

.login {
    background-color: #d5322b;
    padding: 0 100px 100px 100px;
    border-bottom: 2px solid #fff;
    height: 100vh;
    width: 100%
}

.login .section-title {
    font-size: 60px;
    font-weight: lighter;
    color: #fff
}

.login .section-subtitle {
    color: #fff;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    padding: 0 0 20px;
    border-bottom: 2px solid #fff;
}

.login .form-label {
    color: white;
    border: none
}

.login .form-input {
    border: none
}

.html-element-list {
    display: block;
}

.html-element-list .html-element {
    margin-top: 45px;
}

.html-element-list .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.html-element-list .html-content {
    border: 1px solid grey;
    padding: 50px;
    display: block;
    font-family: monospace;
    font-size: 16px;
    background-color: whitesmoke;
}


.html-element-list .element-title {
    padding: 10px 0 10px 5px;
    border: 1px solid grey;
    border-bottom: 0;
}

.admin-data {
    margin: 70px 120px;
}

.admin-data .label {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    border-bottom: 1px solid black
}

.admin-data .txt {
    padding: 10px 2px;
    outline: 0;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    font-weight: bold;
}